@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/*-------------Elementos generales-----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
 }


 li{
    list-style:none;
 }

 a{
     text-decoration: none;
 }


body{
    background-color: #071E22;
    font-family: 'Rubik', sans-serif;

}


/*--------------Barra de navegacion-----------*/
.navbar{
    padding: 20px ;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F433AB;
}

.navbar ul li{
    display:inline-block;
    justify-content: center;
    margin: 0 20px;
}

.busqueda{
    border-radius: 50px;
    border-style: none;
    outline: none;
    padding: 6px 6px;
}

/*------------Titulo principal + foto ---------------*/

.tituloprincipalyfoto{
  margin-top: 3%;
    padding: 150px;
    background-image: url("../img/Sound\ Wave\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px;
    
}
.tituloprincipal{
    font-size: 35px;
}
.music{
    color:#F433AB;
    font-style: italic;
}

/*----------------seccion artistas----------*/
.artistasgeneral{
    margin-top: 200px;
}

.tituloartistas{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.artistas{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

/*---cards de artistas*/
.card {
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    margin: 30px 50px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .card img{
      width: 100%;
  }

/*------------------SONGS----------------*/
.canciones{
    margin: 0px 50px 40px 50px;
}
.titulocancion{
    background-color: rgb(71, 41, 61);
    font-size: 30px;
}

.listacanciones{
    background-color: blue;
}

/*.luismi{
    list-style-image:url("../img/Diseño\ sin\ título.png");
    list-style-position:inside;
    
}*/

  /*----------------FOOTER---------------*/
 
